* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 10px;
    justify-content: center;
}

.post {
    width: 300px;
    box-shadow: 0 0 3px 1px #ddd;
}

.post-img {
    display: block;
}

.deleteButton {
    border: none;
    background: none;
    float: right;
    padding: auto;
}

.characterName {
  float: left;
}

.deleteButton,
.characterName {
    padding: 2px 5px;
}

.deleteButton,
.characterName, 
.inline {
    display:inline-block;
    margin: 9px;
}

.inline{
    margin-right: 5%;
}

.container div{
    margin-right: 3px;
    margin-left: 5px;
}